<!DOCTYPE html>
<html>
  <head>
      <title>Trabalho de internet</title>
      <link rel="stylesheet" type="text/css" href="../../css/style.css">
      <meta charset="UTF-8">
  </head>
<body>
<div class="container">
  <fieldset>
    <legend><b>Dados de conta:</b></legend>
      <button class="signupbutton" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>
      <button class="loginbutton" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Login</button>
  </fieldset>
</div>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content animate" action="#">
    <div class="container">
      <label><b>Email:</b></label>
      <input type="text" placeholder="Email" name="email" required>

      <label><b>Password:</b></label>
      <input type="password" placeholder="Password" name="psw" required>

      <label><b>Repetir password:</b></label>
      <input type="password" placeholder="Repetir password" psw-repeat required>
      <input type="checkbox" checked="checked"> Lembrar-me
      <p>Ao criar uma conta está a concordar com os nossos termos<a href="terms.html"> Termos de condições</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>

<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content animate" action="#">
    <div class="container">
      <label><b>Email:</b></label>
      <input type="text" placeholder="Email" name="email" required>

      <label><b>Password:</b></label>
      <input type="password" placeholder="Password" name="psw" required>


      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Login</button>
      </div>
    </div>
  </form>
</div>

<script>
var modal = document.getElementById('id01');
var modal2 = document.getElementById('id02');

window.onchange = function(event) {
    if (event.target == modal) {
        modal.style.display === "none";
        modal.style.display = "block";

    }
}

window.onchange = function(event) {
    if (event.target == modal2) {
        modal2.style.display ==== "none";
        modal2.style.display = "none";
    }
}
</script>
</body>
</html>
